.header {
    margin-top: -8px;
    height: 70px;
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    position: fixed;
    width: 100%;
    z-index: 3;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
}

.header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: #f4f4f4;
}


/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}


/* menu icon */

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}


/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 340px;
}

.header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}

.ctd-nav {
    margin-top: 10px;
}

.nav-line {
    border: 1px solid #D8D8D8;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.about {
    margin-left: 176px;
    margin-top: 125px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 58px;
    /* midlle */
    color: #4352B1;
}

.about-mac {
    background-image: url(./img/baskin.png);
    height: 285px;
    width: 407px;
    position: absolute;
    left: 60%;
    top: 190px;
}

.description {
    margin-right: 43%;
    margin-top: 35px;
    margin-left: 176px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 32px;
    /* grey */
    color: #272727;
}

.graphic {
    background-image: url(./img/graphic-about.png);
    height: 210px;
    width: 670px;
    margin-top: 25px;
}

.blue-rectangle {
    background-image: url(./img/blue-rectangle.png);
    position: absolute;
    width: 100%;
    height: 1225px;
    top: 625px;
}

.heading {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 24px;
    /* or 48% */
    color: #4352B1;
    position: absolute;
    top: 680px;
    left: 42%;
}

.person-1 {
    position: absolute;
    left: 10%;
    top: 750px;
}

.person-1 p {
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 24px;
    /* identical to box height, or 86% */
    margin-left: 37px;
}

.person-1 p1 {
    font-family: Nunito;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    /* identical to box height, or 96% */
    color: #000000;
    margin-left: 40px;
}

.person-2 {
    position: absolute;
    left: 32%;
    top: 750px;
}

.person-2 p {
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 24px;
    /* identical to box height, or 86% */
    margin-left: 39px;
}

.person-2 p1 {
    font-family: Nunito;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    /* identical to box height, or 96% */
    color: #000000;
    margin-left: 47px;
}

.person-3 {
    position: absolute;
    left: 54%;
    top: 750px;
}

.person-3 p {
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 24px;
    /* identical to box height, or 86% */
    margin-left: 40px;
}

.person-3 p1 {
    font-family: Nunito;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    /* identical to box height, or 96% */
    color: #000000;
    margin-left: 44px;
}

.person-4 {
    position: absolute;
    left: 76%;
    top: 750px;
}

.person-4 p {
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 24px;
    /* identical to box height, or 86% */
    margin-left: 35px;
}

.person-4 p1 {
    font-family: Nunito;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    /* identical to box height, or 96% */
    color: #000000;
    margin-left: 27px;
}

.person-5 {
    position: absolute;
    left: 10%;
    top: 1100px;
}

.person-5 p {
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 24px;
    /* identical to box height, or 86% */
    margin-left: 21px;
}

.person-5 p1 {
    font-family: Nunito;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    /* identical to box height, or 96% */
    color: #000000;
    margin-left: 11px;
}

.person-6 {
    position: absolute;
    left: 32%;
    top: 1100px;
}

.person-6 p {
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 24px;
    /* identical to box height, or 86% */
    margin-left: 26px;
}

.person-6 p1 {
    font-family: Nunito;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    /* identical to box height, or 96% */
    color: #000000;
    margin-left: 47px;
}

.person-7 {
    position: absolute;
    left: 54%;
    top: 1100px;
}

.person-7 p {
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 24px;
    /* identical to box height, or 86% */
    margin-left: 25px;
}

.person-7 p1 {
    font-family: Nunito;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    /* identical to box height, or 96% */
    color: #000000;
    margin-left: 51px;
}

.person-8 {
    position: absolute;
    left: 76%;
    top: 1100px;
}

.person-8 p {
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 24px;
    /* identical to box height, or 86% */
    margin-left: 26px;
}

.person-8 p1 {
    font-family: Nunito;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    /* identical to box height, or 96% */
    color: #000000;
    margin-left: 66px;
}

.person-9 {
    position: absolute;
    left: 21%;
    top: 1450px;
}

.person-9 p {
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 24px;
    /* identical to box height, or 86% */
    margin-left: 41px;
}

.person-9 p1 {
    font-family: Nunito;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    /* identical to box height, or 96% */
    color: #000000;
    margin-left: 65px;
}

.person-10 {
    position: absolute;
    left: 43%;
    top: 1450px;
}

.person-10 p {
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 24px;
    /* identical to box height, or 86% */
    margin-left: 26px;
}

.person-10 p1 {
    font-family: Nunito;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    /* identical to box height, or 96% */
    color: #000000;
    margin-left: 57px;
}

.person-11 {
    position: absolute;
    left: 65%;
    top: 1450px;
}

.person-11 p {
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 24px;
    /* identical to box height, or 86% */
    margin-left: 23px;
}

.person-11 p1 {
    font-family: Nunito;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    /* identical to box height, or 96% */
    color: #000000;
    margin-left: 58px;
}

.person-12 {
    position: absolute;
    left: 76%;
    top: 1450px;
}


/*
.person-12 p {
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 24px;
    /* identical to box height, or 86% 
    margin-left: 47px;
}

.person-12 p1 {
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    /* identical to box height, or 96% 
    color: #000000;
    margin-left: 40px;
}
*/

.join-team {
    margin-top: 1350px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 48.645px;
    line-height: 23px;
    /* or 48% */
    color: #4352B1;
    text-align: center;
}

.join-description {
    margin-top: 40px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    /* or 120% */
    text-align: center;
    color: #000000;
}

.apply {
    background: #FF664D;
    border-radius: 40px;
    width: 257px;
    height: 48px;
    margin-top: 57px;
    text-align: center;
    margin-left: 40.5%;
    margin-right: 38.5%;
}

.apply p1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 45px;
    color: #FFFFFF;
}

.keep {
    margin-top: 167px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 24px;
    /* or 60% */
    color: #021F42;
    text-align: center;
    margin-bottom: 40px;
}

.socials-1 {
    display: flex;
    justify-content: space-between;
    margin-left: 41%;
    margin-right: 41%;
}

.line {
    border: 1px solid #D8D8D8;
    transform: matrix(1, 0, 0, 1, 0, 0);
    margin-top: 50px;
}

.closer {
    font-family: Poppins;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #4352B1;
    margin-bottom: 50px;
}

@media only screen and (max-width: 750px) {
    .about {
        margin-left: 53px;
        margin-top: 75px;
        font-size: 18px;
        line-height: 27px;
    }
    .about-mac {
        background-image: url(./img/about-mac.png);
        display: none;
    }
    .description {
        margin-right: 30%;
        margin-top: 35px;
        margin-left: 53px;
        font-family: Nunito;
        font-style: normal;
        font-size: 13px;
        line-height: 18px;
    }
    .graphic {
        background-image: url(./img/graphic-about.png);
        height: 150px;
        width: 350px;
        margin-top: 40px;
    }
    .blue-rectangle {
        background-image: url(./img/blue-rectangle.png);
        position: absolute;
        width: 100%;
        height: 1425px;
        top: 425px;
    }
    .heading {
        font-size: 22px;
        line-height: 27px;
        /* or 48% */
        color: #4352B1;
        position: absolute;
        top: 480px;
        left: 38%;
    }
    .for {
        width: 101px;
        height: 101px;
    }
    .person-1 {
        position: absolute;
        left: 17%;
        top: 530px;
    }
    .person-1 p {
        font-size: 18px;
        line-height: 24px;
        margin-left: 4px;
    }
    .person-1 p1 {
        font-size: 14px;
        line-height: 24px;
        margin-left: 14px;
    }
    .person-2 {
        position: absolute;
        left: 62%;
        top: 530px;
    }
    .person-2 p {
        font-size: 18px;
        line-height: 24px;
        margin-left: 0px;
    }
    .person-2 p1 {
        font-size: 14px;
        line-height: 24px;
        margin-left: 15px;
    }
    .person-3 {
        position: absolute;
        left: 17%;
        top: 750px;
    }
    .person-3 p {
        font-size: 18px;
        line-height: 24px;
        margin-left: -2px;
    }
    .person-3 p1 {
        font-size: 14px;
        line-height: 24px;
        margin-left: 8px;
    }
    .person-4 {
        position: absolute;
        left: 62%;
        top: 750px;
    }
    .person-4 p {
        font-size: 18px;
        line-height: 24px;
        margin-left: -8px;
    }
    .person-4 p1 {
        font-size: 14px;
        line-height: 24px;
        margin-left: -2px;
    }
    .person-5 {
        position: absolute;
        left: 17%;
        top: 970px;
    }
    .person-5 p {
        font-size: 18px;
        line-height: 24px;
        margin-left: -11px;
    }
    .person-5 p1 {
        font-size: 14px;
        line-height: 24px;
        margin-left: -8px;
    }
    .person-6 {
        position: absolute;
        left: 62%;
        top: 970px;
    }
    .person-6 p {
        font-size: 18px;
        line-height: 24px;
        margin-left: -11px;
    }
    .person-6 p1 {
        font-size: 14px;
        line-height: 24px;
        margin-left: 14px;
    }
    .person-7 {
        position: absolute;
        left: 17%;
        top: 1190px;
    }
    .person-7 p {
        font-size: 18px;
        line-height: 24px;
        margin-left: -20px;
    }
    .person-7 p1 {
        font-size: 14px;
        line-height: 24px;
        margin-left: 15px;
    }
    .person-8 {
        position: absolute;
        left: 62%;
        top: 1190px;
    }
    .person-8 p {
        font-size: 18px;
        line-height: 24px;
        margin-left: -13px;
    }
    .person-8 p1 {
        font-size: 14px;
        line-height: 24px;
        margin-left: 27px;
    }
    .person-9 {
        position: absolute;
        left: 17%;
        top: 1410px;
    }
    .person-9 p {
        font-size: 18px;
        line-height: 24px;
        margin-left: -1px;
    }
    .person-9 p1 {
        font-size: 14px;
        line-height: 24px;
        margin-left: 24px;
    }
    .person-10 {
        position: absolute;
        left: 62%;
        top: 1410px;
    }
    .person-10 p {
        font-size: 18px;
        line-height: 24px;
        margin-left: -12px;
    }
    .person-10 p1 {
        font-size: 14px;
        line-height: 24px;
        margin-left: 22px;
    }
    .person-11 {
        position: absolute;
        left: 39.5%;
        top: 1630px;
    }
    .person-11 p {
        font-size: 18px;
        line-height: 24px;
        margin-left: -17px;
    }
    .person-11 p1 {
        font-size: 14px;
        line-height: 24px;
        margin-left: 22px;
    }
    .person-12 {
        position: absolute;
        left: 76%;
        top: 1450px;
    }
    .person-12 p {
        font-family: Nunito;
        font-style: normal;
        font-weight: 800;
        font-size: 28px;
        line-height: 24px;
        /* identical to box height, or 86% */
        margin-left: 63px;
    }
    .person-12 p1 {
        font-family: Nunito;
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 24px;
        /* identical to box height, or 96% */
        color: #000000;
        margin-left: 53px;
    }
    .join-team {
        margin-top: 1480px;
        font-size: 18px;
        line-height: 23px;
        /* or 130% */
    }
    .join-description {
        margin-top: 25px;
        font-size: 15px;
        line-height: 30px;
        /* or 200% */
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;
    }
    .apply {
        background: #FF664D;
        border-radius: 40px;
        width: 160px;
        height: 32px;
        margin-top: 30px;
        margin-left: 35%;
        margin-right: 40%;
        text-align: center;
    }
    .apply p1 {
        font-size: 12.5px;
        line-height: 30px;
    }
    .keep {
        margin-top: 65px;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        margin-bottom: 20px;
    }
    .socials-1 {
        display: flex;
        justify-content: space-between;
        margin-left: 30%;
        margin-right: 30%;
    }
    .line {
        border: 1px solid #D8D8D8;
        transform: matrix(1, 0, 0, 1, 0, 0);
        margin-top: 50px;
    }
    .closer {
        font-size: 12px;
        line-height: 24px;
        margin-bottom: 20px;
    }
}

@media (min-width: 48em) {
    .header li {
        float: left;
    }
    .header li a {
        padding: 20px 30px;
    }
    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon {
        display: none;
    }
}


/* section */

.section {
    overflow: hidden;
    margin: auto;
    max-width: 1400px;
}

.section a {
    position: relative;
    float: left;
    width: 100%;
}

.section a img {
    width: 100%;
    display: block;
}

.section a span {
    color: #fff;
    position: absolute;
    left: 5%;
    bottom: 5%;
    font-size: 2em;
    text-shadow: 1px 1px 0 #000;
}

.section-split a span {
    display: none;
}

.section-split a:hover span {
    display: block;
}


/* 48em = 768px */

@media (min-width: 48em) {
    .section-split a {
        width: 50%;
    }
}