.header {
  margin-top: 0;
  height: 70px;
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

body {
  margin: 0px 0px 10px 0px;
  padding: 0px;
  width: 100%;
}

header {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 340px;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.ctd-nav {
  margin: 10px;
  height: 46px;
}

.nav-line {
  border: 1px solid #d8d8d8;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.about-hero {
  position: relative;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 10% 50px 10%;
  color: #4352b1;
}

.about-hero img {
  border-radius: 30px;
  width: 40%;
  object-fit: cover;
}

.about-hero-text {
  display: block;
}

.about-hero-text h1 {
  font-family: sofia-pro, sans-serif;
  font-weight: 600;
  font-size: 38px;
  line-height: 58px;
}

.about-hero-text p {
  margin-right: 43%;
  margin-top: 35px;
  font-family: Nunito;
  font-weight: 500;
  font-size: 27px;
  line-height: 32px;
  color: #272727;
}

svg {
  margin-left: -25%;
}

.board-container {
  color: #4352b1;
  background-color: #dee7fe;
  position: relative;
  max-width: 100%;
  padding-top: 1%;
  padding-bottom: 2%;
  text-align: center;
  align-items: center;
  max-height: auto;
  margin-top: 5%;
}

h2 {
  color: #4352b1;
  text-align: center;
  font-family: sofia-pro, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 24px;
  margin-bottom: 2em;
}

.board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2em;
}

.person a {
  text-decoration: none;
  color: inherit;
}

.person img {
  border-radius: 50%;
  height: 13em;
  width: 13em;
  object-fit: cover;
}

.person-name {
  font-family: Nunito;
  font-weight: 800;
  font-size: 22px;
  line-height: 24px;
  text-align: center;
}

.person-title {
  font-family: Nunito;
  font-weight: 500;
  font-size: 21px;
  line-height: 24px;
  color: #000000;
  text-align: center;
}

.join-team {
  margin-top: 50px;
  font-family: sofia-pro, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48.645px;
  line-height: 23px;
  color: #4352b1;
  text-align: center;
}

.join-description {
  margin-top: 40px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  /* or 120% */
  text-align: center;
  color: #000000;
}

.keep {
  font-family: sofia-pro, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 24px;
  /* or 60% */
  color: #021f42;
  text-align: center;
  margin-bottom: 40px;
}

.socials {
  display: grid;
  grid-template-columns: 20px 20px 20px 20px;
  width: 100%;
  column-gap: 4em;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.icon {
  width: 40px;
  height: 40px;
}

.closer {
  font-family: sofia-pro, sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #4352b1;
}

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

/* section */

.section {
  overflow: hidden;
  margin: auto;
  max-width: 1400px;
}

.section a {
  position: relative;
  float: left;
  width: 100%;
}

.section a img {
  width: 100%;
  display: block;
}

.section a span {
  color: #fff;
  position: absolute;
  left: 5%;
  bottom: 5%;
  font-size: 2em;
  text-shadow: 1px 1px 0 #000;
}

.section-split a span {
  display: none;
}

.section-split a:hover span {
  display: block;
}

@media only screen and (max-width: 1200px) {
  svg {
    display: none;
  }

  .about-hero {
    margin: 100px 5% 50px 5%;
  }

  .about-hero-text h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 40px;
  }

  .about-hero-text p {
    margin-right: 20%;
    font-size: 20px;
  }
}

@media only screen and (max-width: 1000px) {
  .board {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .board {
    grid-template-columns: repeat(1, 1fr);
  }

  .about-hero {
    max-width: 100%;
    display: flex;
    flex-direction: column-reverse;
    margin: 100px 10% 50px 10%;
  }

  .about-hero img {
    width: 100%;
    border-radius: 25px;
  }

  .about-hero-text {
    display: block;
    width: 100%;
  }

  .about-hero-text h1 {
    text-align: center;
    width: 100%;
  }

  .about-hero-text p {
    text-align: center;
    width: 100%;
  }
}
