.header {
  margin-top: 0;
  height: 70px;
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

body {
  margin: 0px 0px 10px 0px;
  padding: 0px;
  width: 100%;
}

header {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 340px;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.ctd-nav {
  margin: 10px;
  height: 46px;
}

.nav-line {
  border: 1px solid #d8d8d8;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.wave {
  position: fixed;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  margin-top: -600px;
  display: block;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 10%;
}

.hero-content img {
  height: 170px;
  object-fit: cover;
}

.text-content {
  width: 70%;
  margin-right: 5%;
}

.text-content h1 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 38px;
  line-height: 58px;
  color: #4352b1;
}

.text-content h3 {
  font-family: Avenir;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #272727;
}

.contact-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 10%;
}

.social-media {
  display: block;
}

.social-media h2 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 35px;
  color: #021f42;
}

.social-button {
  display: flex;
  align-items: center;
}

.social-button img {
  width: 54px;
  margin-right: 14px;
}

.social-button p {
  font-family: Avenir Heavy;
  font-size: 23px;
  color: #021f42;
}

.clear {
  font-family: Nunito;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  /* or 120% */
  color: #ffffff;
}

.line {
  border: 1px solid #d8d8d8;
  transform: matrix(1, 0, 0, 1, 0, 0);
  margin-top: 50px;
}

.closer {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #4352b1;
}

.hi {
  padding: 0px 30px 0px 30px;
  width: 422px;
  height: 504px;
  left: 750px;
  top: 559px;
  background: #fbfbfb;
  border-radius: 30px;
}

.hi h1 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 35px;
  color: #021f42;
  text-align: left;
}

.hi p {
  font-family: Avenir Heavy;
  font-size: 20px;
  text-align: left;
  color: #021f42;
}

#mc_embed_signup_scroll {
  width: 100%;
  max-width: 28rem;
  margin-left: 70px;
}

#mc_embed_signup_scroll .gridformat {
  display: grid;
  grid-template-columns: 2fr;
}

#mc_embed_signup_scroll .gridformat > input {
  box-sizing: border-box;
  color: black;
  border: solid 2px black;
  padding: 1rem 2rem;
  margin-top: -0.25rem;
  width: 70%;
}

#mc_embed_signup_scroll .gridformat > input:first-of-type {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

#mc_embed_signup_scroll .gridformat > input:last-of-type {
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

#mc_embed_signup * {
  font-family: Nunito;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  /* or 120% */
  color: #000000;
  vertical-align: top;
}

#mc_embed_signup input {
  text-align: left;
  position: relative;
  box-sizing: border-box;
  color: black;
  width: 50%;
  border: none;
  box-shadow: none;
}

#mc_embed_signup input:placeholder {
}

#mc_embed_signup input:focus {
  color: black;
}

#mc_embed_signup input::placeholder {
  color: black;
}

#mc_embed_signup input:focus::placeholder {
  color: var(--blue);
}

.mc-field-group span {
  color: var(--grey);
  font-style: oblique;
}

#emailSignUp #mc_embed_signup div.mce_inline_error {
  box-sizing: border-box;
  display: block;
  color: white;
  background: black;
  text-align: left;
  z-index: 10;
  position: relative;
  margin-bottom: 0;
}

#mc_embed_signup #mc-embedded-subscribe {
  cursor: pointer;
  background: black;
  color: white;
  text-align: center;
}

#mce-error-response {
  color: var(--orange);
  padding: 1rem;
}

div#mce-success-response {
  font-size: 1rem;
  padding: 2rem;
  text-align: center;
}

#emailSignUp #disclaim {
  margin: auto;
  padding: 1rem;
  font-size: 11px;
  color: var(--grey);
}

#emailSignUp #disclaim a {
  font-size: 11px;
  text-decoration: underline;
}

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1000px) {
}

@media only screen and (max-width: 600px) {
}
