.ctd-nav {
    width: 71px;
    height: 46px;
    margin-bottom: -60px;
    margin-left: 33px;
}

.navbar-end {
    margin-left: 769px;
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 34px;
    color: #021F42;
}

.nav-line {
    margin-top: 31px;
    border: 1px solid #D8D8D8;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

body {
    padding: 0px 0px 102px 0px;
}

.title {
    margin-top: 96px;
    margin-left: 158px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 75px;
    color: #021F42;
}

.sub {
    margin-left: 158px;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 41px;
    color: #4352B1;
}

.description {
    margin-top: 12px;
    margin-left: 158px;
    margin-right: 561px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 41px;
    color: #000000;
    margin-right: 491px;
}

.upcoming {
    margin-top: 12px;
    margin-left: 158px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    line-height: 24px;
    /* or 141% */
    color: #4352B1;
}

.fb_top {
    position: absolute;
    right: 20%;
    top: 32%;
    width: 48px;
    height: 48px;
}

.yt_top {
    position: absolute;
    right: 20%;
    top: 42%;
    width: 48px;
    height: 48px;
}

.link_top {
    position: absolute;
    right: 20%;
    top: 52%;
    width: 48px;
    height: 48px;
}

.drib_top {
    position: absolute;
    right: 20%;
    top: 62%;
    width: 48px;
    height: 48px;
}

.logo {}

.logo__w {
    position: absolute;
    width: 302px;
    height: 250.28px;
    left: 40%;
    top: 800px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.vector {
    margin-top: -450px;
    background-image: url(../img/blue.png);
    width: 100%;
    height: 1895px;
    background-repeat: no-repeat;
    background-size: cover;
}

.foster {
    margin-top: -800px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 44px;
    /* or 126% */
    text-align: center;
    color: #021F42;
    margin-left: 262px;
    margin-right: 241px;
}

.what {
    margin-top: 475px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 47px;
    line-height: 70px;
    /* identical to box height */
    color: #021F42;
    margin-left: 262px;
    margin-right: 241px;
    text-align: center;
}

.one {
    margin-left: 250px;
    margin-top: 20px;
    font-family: Avenir;
    font-style: normal;
    text-align: left;
    width: 30%;
}

.one p1 {
    font-weight: 900;
    font-size: 28px;
    line-height: 38px;
    color: #FF664D;
}

.one p2 {
    font-weight: 800;
    font-size: 30px;
    line-height: 48px;
    color: #393939;
}

.one p3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #525252;
}

.two {
    margin-right: 150px;
    margin-top: -150px;
    font-family: Avenir;
    font-style: normal;
    text-align: left;
    float: right;
    width: 30%;
}

.two p1 {
    font-weight: 900;
    font-size: 28px;
    line-height: 38px;
    color: #FF664D;
}

.two p2 {
    font-weight: 800;
    font-size: 30px;
    line-height: 48px;
    color: #393939;
}

.two p3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #525252;
}

.three {
    margin-left: 250px;
    margin-top: 75px;
    font-family: Avenir;
    font-style: normal;
    text-align: left;
    width: 30%;
}

.three p1 {
    font-weight: 900;
    font-size: 28px;
    line-height: 38px;
    color: #FF664D;
}

.three p2 {
    font-weight: 800;
    font-size: 30px;
    line-height: 48px;
    color: #393939;
}

.three p3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #525252;
}

.four {
    margin-right: 150px;
    margin-top: -240px;
    font-family: Avenir;
    font-style: normal;
    text-align: left;
    float: right;
    width: 30%;
}

.four p1 {
    font-weight: 900;
    font-size: 28px;
    line-height: 38px;
    color: #FF664D;
}

.four p2 {
    font-weight: 800;
    font-size: 30px;
    line-height: 48px;
    color: #393939;
}

.four p3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #525252;
}

.resources {
    background: #FF664D;
    border-radius: 40px;
    width: 257px;
    height: 48px;
    text-align: center;
    margin-top: 107px;
    margin-left: 600px;
}

.resources p1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 45px;
    color: #FFFFFF;
}

.graphic {
    background-image: url(../img/graphic.png);
    height: 303px;
    width: 900px;
    margin-top: 120px;
}

.join {
    width: 707px;
    height: 291px;
    margin-top: -100px;
    background: #DEE7FE;
    border-radius: 30px;
    text-align: center;
    margin-left: 550px;
    padding: 50px 41px 43px 44px;
}

.join p1 {
    margin-top: 200px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 47px;
    line-height: 70px;
    color: #021F42;
}

.join p2 {
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 34px;
    color: #021F42;
    margin-top: 10px;
}

.connect {
    background: #FF664D;
    border-radius: 40px;
    width: 257px;
    height: 48px;
    text-align: center;
    margin-top: -100px;
    margin-left: 825px;
}

.connect p1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 45px;
    color: #FFFFFF;
}

.keep {
    margin-top: 167px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 24px;
    /* or 60% */
    color: #021F42;
    text-align: center;
    margin-bottom: 40px;
}

.socials-1 {
    display: flex;
    justify-content: space-between;
    margin-left: 41%;
    margin-right: 41%;
}

.line {
    border: 1px solid #D8D8D8;
    transform: matrix(1, 0, 0, 1, 0, 0);
    margin-top: 50px;
}

.closer {
    font-family: Poppins;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #4352B1;
}